@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "layout.cshtml";

}

<<<<<<< Updated upstream
<div>

=======
<div id="mountHome">
	Hello
>>>>>>> Stashed changes
</div>
