@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
<<<<<<< Updated upstream
	Layout = null;
}
=======
}
<head>
<link rel="stylesheet" href="~/dist/main.css" />
<script type="module" src="~/dist/main.js"></script>
</head>
<body>
    @RenderBody()
</body>
>>>>>>> Stashed changes
